---
title: Process engine
layout: base
---
.jumbotron.pagination-centered(style="padding: 10px; margin-bottom: 20px;")
  .carousel.slide#whatIsCarousel(data-ride="carousel" data-interval="false" style="background-color: white;")
    -#.carousel-inner(style="align: center;")
    .carousel-inner
      .item.active#links
        %a(href="landingPage/01_Home_Big.png" title="Home" data-gallery="")
          %img(src="landingPage/01_Home.png" alt="Home")
      .item
        %a(href="landingPage/02_Authoring_Big.png" title="Authoring" data-gallery="")
          %img(src="landingPage/02_Authoring.png" alt="Authoring")
      .item
        %a(href="landingPage/03_DataModeler_Big.png" title="DataModeler" data-gallery="")
          %img(src="landingPage/03_DataModeler.png" alt="DataModeler")
      .item
        %a(href="landingPage/04_FormModeler_Big.png" title="FormModeler" data-gallery="")
          %img(src="landingPage/04_FormModeler.png" alt="FormModeler")
      .item
        %a(href="landingPage/05_Simulation_Big.png" title="Simulation" data-gallery="")
          %img(src="landingPage/05_Simulation.png" alt="Simulation")
      .item
        %a(href="landingPage/06_ProcessInstances_Big.png" title="ProcessInstances" data-gallery="")
          %img(src="landingPage/06_ProcessInstances.png" alt="ProcessInstances")
      .item
        %a(href="landingPage/07_TaskList_Big.png" title="TaskList" data-gallery="")
          %img(src="landingPage/07_TaskList.png" alt="TaskList")
      .item
        %a(href="landingPage/08_Dashboards_Big.png" title="Dashboards" data-gallery="")
          %img(src="landingPage/08_Dashboards.png" alt="Dashboards")
      .item
        %a(href="landingPage/09_Eclipse_Big.png" title="Eclipse" data-gallery="")
          %img(src="landingPage/09_Eclipse.png" alt="Eclipse")
    %div.TextZoom Click on the image to zoom in
    %a.left.carousel-control(href="#whatIsCarousel" data-slide="prev")
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control(href="#whatIsCarousel" data-slide="next")
      %span.glyphicon.glyphicon-chevron-right
  %ul.nav.nav-justified#whatIsCarouselButtons
    %li.active(data-target="#whatIsCarousel" data-slide-to="0")
      %a(href="#" data-toggle="tab") Home
    %li(data-target="#whatIsCarousel" data-slide-to="1")
      %a(href="#" data-toggle="tab") Authoring
    %li(data-target="#whatIsCarousel" data-slide-to="2")
      %a(href="#" data-toggle="tab") DataModeler
    %li(data-target="#whatIsCarousel" data-slide-to="3")
      %a(href="#" data-toggle="tab") FormModeler
    %li(data-target="#whatIsCarousel" data-slide-to="4")
      %a(href="#" data-toggle="tab") Simulation
    %li(data-target="#whatIsCarousel" data-slide-to="5")
      %a(href="#" data-toggle="tab") ProcessInstances
    %li(data-target="#whatIsCarousel" data-slide-to="6")
      %a(href="#" data-toggle="tab") TaskList
    %li(data-target="#whatIsCarousel" data-slide-to="7")
      %a(href="#" data-toggle="tab") Dashboards
    %li(data-target="#whatIsCarousel" data-slide-to="8")
      %a(href="#" data-toggle="tab") Eclipse


  #blueimp-gallery.blueimp-gallery
    .slides
    %a.prev‹
    %a.next›
    %a.close×
    %a.play-pause
    %ol.indicator
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button(type="button" class="close" aria-hidden="true")
            %h4.modal-title"

.row
  .col-md-8(style="margin-top: -17px;margin-bottom: 20px")
    :markdown
      ## What is jBPM?

      **jBPM** is a flexible Business Process Management (BPM) Suite. It makes the bridge between business analysts and developers. Traditional BPM engines have a focus that is limited to non-technical people only. jBPM has a dual focus: it offers process management features in a way that both business users and developers like it.

      ## What does jBPM do?

      A business process allows you to model your business goals by describing the steps that need to be executed to achieve that goal and the order, using a flow chart.  This greatly improves the visibility and agility of your business logic, results in higher-level and domain-specific representations that can be understood by business users and is easier to monitor.

      The core of jBPM is a light-weight, extensible workflow engine written in pure Java that allows you to execute business processes using the latest BPMN 2.0 specification.  It can run in any Java environment, embedded in your application or as a service.

      On top of the core engine, a lot of features and tools are offered to support business processes throughout their entire life cycle:

    %ul
      %li Eclipse-based and web-based editor to support the graphical creation of your business processes (drag & drop).
      %li Pluggable persistence and transactions based on JPA / JTA.
      %li Pluggable human task service based on WS-HumanTask for including tasks that need to be performed by human actors.
      %li Management console supporting process instance management, task lists and task form management, and reporting.
      %li Optional process repository to deploy your process (and other related knowledge).
      %li History logging (for querying / monitoring / analysis).
      %li Integration with Seam, Spring, OSGi, etc.

    %p BPM makes the bridge between business analysts, developers and end users, by offering process management features and tools in a way that both business users and developers like it. Domain-specific nodes can be plugged into the palette, making the processes more easily understood by business users.

    %p jBPM supports adaptive and dynamic processes that require flexibility to model complex, real-life situations that cannot easily be described using a rigid process. We bring control back to the end users by allowing them to control which parts of the process should be executed, to dynamically deviate from the process, etc.

    %p jBPM is also not just an isolated process engine. Complex business logic can be modeled as a combination of business processes with business rules and complex event processing. jBPM can be combined with the Drools project to support one unified environment that integrates these paradigms where you model your business logic as a combination of processes, rules and events.

  .col-md-4
    %div(style="margin-top: 10px;")
      = partial('importantNews.html.haml', :outputPage => page)
      = partial('events.html.haml', :outputPage => page)

.alert.alert-info.alert-dismissable
  %button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
  #{site.pom.latest.releaseDate}:
  %a.alert-link(href="#{site.pom.latestFinal.releaseNotesVersion}") jBPM #{site.pom.latestFinal.version} has been released.

.row
  .col-md-6
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-success(href="#{site.pom.latestFinal.distributionZip}")<
          %img(src = "download/download.png")
          Download jBPM #{site.pom.latest.version}
      %h3 Try the jBPM-installer now
      %ol
        %li Download the jbpm installer-full zip and unzip it.
        %li<
          %a(href="#{site.pom.latestFinal.installerChapter}")Follow the jBPM Installer
          chapter to get started.

      .small
        Requires
        %a(href="http://www.java.com")< Java™
        to run.
      %h3
        Are you using 
        %a(href="http://www.docker.com/")Docker
        ?
      %span Try our Docker images and run jBPM in just seconds
      %ul
        %li
          %a(href="http://registry.hub.docker.com/u/jboss/jbpm-workbench/")jBPM Workbench
        %li
          %a(href="http://registry.hub.docker.com/u/jboss/jbpm-workbench-showcase/")jBPM Workbench Showcase
      .small
        More info at 
        %a(href="http://blog.athico.com/2015/06/drools-jbpm-get-dockerized.html")this post
  .col-md-6
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-primary(href="#{site.pom.latestFinal.UserGuide}")<
          %img(src = "learn/documentation.png")
          Read documentation #{site.pom.latestFinal.version}
      %h3 Get started
      %ol
        %li Open the documentation
        %li
          Read the
          %strong Getting Started
          chapter

= partial('latestBlogPosts.html.haml', :outputPage => page)
= partial('referencesBooks.html.haml', :outputPage => page)