---
description: jBPM is a toolkit for building business applications to help automate business processes and decisions based on solid business automation background.
title: jBPM Business Automation Toolkit
layout: base
---
.alert.alert-info.alert-dismissable
  %button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
  %a.alert-link(href="https://kogito.kie.org") Looking for pure cloud-native process automation? Take a look at Kogito as well (based on jBPM)!

.alert.alert-info.alert-dismissable
  %button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
  #{site.pom.latestFinal.releaseDate}:
  %a.alert-link(href="learn/releases.html") jBPM #{site.pom.latestFinal.version} has been released. Click here to see what's new.

.row
  .col-md-8(style="margin-top: -17px;margin-bottom: 20px")
    :markdown
      ## What is jBPM?

      **jBPM** is a toolkit for building business applications to help automate business processes and decisions.

    :markdown

      jBPM originates from BPM (Business Process Management) but it has evolved to enable users to pick their own path in business automation.
      It provides various capabilities that simplify and externalize business logic into reusable assets such as cases, processes, decision tables and more.

    %ul
      %li business processes (BPMN2)
      %li case management (BPMN2 and CMMN)
      %li
        decision management&nbsp;
        %span> (
        %a{ :href => "https://drools.org/learn/dmn.html", :title => "Decision Model and Notation" } DMN
        %span> )
      %li business rules (DRL)
      %li business optimisation (Solver)

    %p jBPM can be used as standalone service or embedded in custom service. It does not mandate any of the frameworks to be used, it can be successfully used in

    %ul
      %li traditional JEE applications - war/ear deployments
      %li SpringBoot or Thorntail (formerly known as WildFly Swarm) - uberjar deployments
      %li standalone java programs

    %p jBPM is typically used to build business applications.  A business application could be defined as a domain-specific solution (built with selected frameworks and capabilities) that solves a particular business problem.  To implement the business logic it leverages capabilities from various frameworks like business processes, business rules and planning constraints, but also persistence, messaging, transactions, etc.
    
    .text-center<
      %a.btn.btn-lg.btn-primary(href="businessapps/gettingStarted.html")<
        Start with Business Applications!        
    %p

    %p jBPM is open source software, released under the Apache License 2.0. It is written in 100% pure Java™, runs on any JVM and is available in the Maven Central repository too.

    :markdown
    
      ## Cloud-native?
    
      Looking for a pure cloud-native process automation solution, specifically targeted towards creating intelligent business applications in the cloud?  Take a look at [Kogito](https://kogito.kie.org), based on jBPM.
    
  .col-md-4
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-success(href="#{site.pom.latestFinal.jbpmServerZip}")<
          %img(src = "download/download.png")
          Download jBPM #{site.pom.latestFinal.version}
      %ol
        %li Download and unzip it.
        %li
          On Linux/Mac, run
          %code jbpm-server/bin/standalone.sh
          %br
          On Windows, run
          %code jbpm-server/bin/standalone.bat
        %li
          Open browser and go to
          %code http://localhost:8080/business-central
        %li
          Login/password
          %code wbadmin/wbadmin

      .small
        Requires
        %a(href="http://www.java.com")< Java™
        to run.
      %br
      .text-center<
        %a.btn.btn-lg.btn-primary(href="learn/gettingStarted.html")<
          %img(src = "learn/documentation.png")
          Get started now!
        %br
        %h5 Once you're done with getting started have a look at the documentation that covers much more.
        %br
        %a.btn.btn-lg.btn-primary(href="#{site.pom.latestFinal.UserGuide}")<
          %img(src = "learn/documentation.png")
          Read documentation

.jumbotron.pagination-centered(style="padding: 10px; margin-bottom: 20px;")
  .carousel.slide#whatIsCarousel(data-ride="carousel" data-interval="false" style="background-color: white;")
    -#.carousel-inner(style="align: center;")
    .carousel-inner
      .item.active#links
        %a(href="landingPage/01_Home_Big.png" title="Home" data-gallery="")
          %img(src="landingPage/01_Home.png" alt="Home")
      .item
        %a(href="landingPage/02_Authoring_Big.png" title="Authoring" data-gallery="")
          %img(src="landingPage/02_Authoring.png" alt="Authoring")
      .item
        %a(href="landingPage/03_ProcessModeler_Big.png" title="ProcessModeler" data-gallery="")
          %img(src="landingPage/03_ProcessModeler.png" alt="ProcessModeler")
      .item
        %a(href="landingPage/03_DataModeler_Big.png" title="DataModeler" data-gallery="")
          %img(src="landingPage/03_DataModeler.png" alt="DataModeler")
      .item
        %a(href="landingPage/04_FormModeler_Big.png" title="FormModeler" data-gallery="")
          %img(src="landingPage/04_FormModeler.png" alt="FormModeler")
      .item
        %a(href="landingPage/05_Simulation_Big.png" title="Simulation" data-gallery="")
          %img(src="landingPage/05_Simulation.png" alt="Simulation")
      .item
        %a(href="landingPage/06_ProcessInstances_Big.png" title="ProcessInstances" data-gallery="")
          %img(src="landingPage/06_ProcessInstances.png" alt="ProcessInstances")
      .item
        %a(href="landingPage/07_TaskList_Big.png" title="TaskInbox" data-gallery="")
          %img(src="landingPage/07_TaskList.png" alt="TaskInbox")
      .item
        %a(href="landingPage/08_Dashboards_Big.png" title="Dashboards" data-gallery="")
          %img(src="landingPage/08_Dashboards.png" alt="Dashboards")
      .item
        %a(href="landingPage/09_Eclipse_Big.png" title="Eclipse" data-gallery="")
          %img(src="landingPage/09_Eclipse.png" alt="Eclipse")
    %div.TextZoom Click on the image to zoom in
    %a.left.carousel-control(href="#whatIsCarousel" data-slide="prev")
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control(href="#whatIsCarousel" data-slide="next")
      %span.glyphicon.glyphicon-chevron-right
  %ul.nav.nav-justified#whatIsCarouselButtons
    %li.active(data-target="#whatIsCarousel" data-slide-to="0")
      %a(href="#" data-toggle="tab") Home
    %li(data-target="#whatIsCarousel" data-slide-to="1")
      %a(href="#" data-toggle="tab") Authoring
    %li(data-target="#whatIsCarousel" data-slide-to="2")
      %a(href="#" data-toggle="tab") ProcessModeler
    %li(data-target="#whatIsCarousel" data-slide-to="3")
      %a(href="#" data-toggle="tab") DataModeler
    %li(data-target="#whatIsCarousel" data-slide-to="4")
      %a(href="#" data-toggle="tab") FormModeler
    %li(data-target="#whatIsCarousel" data-slide-to="5")
      %a(href="#" data-toggle="tab") Simulation
    %li(data-target="#whatIsCarousel" data-slide-to="6")
      %a(href="#" data-toggle="tab") ProcessInstances
    %li(data-target="#whatIsCarousel" data-slide-to="7")
      %a(href="#" data-toggle="tab") TaskInbox
    %li(data-target="#whatIsCarousel" data-slide-to="8")
      %a(href="#" data-toggle="tab") Dashboards
    %li(data-target="#whatIsCarousel" data-slide-to="9")
      %a(href="#" data-toggle="tab") Eclipse


  #blueimp-gallery.blueimp-gallery
    .slides
    %a.prev‹
    %a.next›
    %a.close×
    %a.play-pause
    %ol.indicator
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button(type="button" class="close" aria-hidden="true")
            %h4.modal-title"

.row
  .col-md-12(style="margin-top: -17px;margin-bottom: 20px")
    :markdown
      ## What does jBPM do?

      A business process allows you to model your business goals by describing the steps that need to be executed to achieve that goal and the order, using a flow chart.  This greatly improves the visibility and agility of your business logic, results in higher-level and domain-specific representations that can be understood by business users and is easier to monitor.

      The core of jBPM is a light-weight, extensible workflow engine written in pure Java that allows you to execute business processes using the latest BPMN 2.0 specification.  It can run in any Java environment, embedded in your application or as a service.

      On top of the core engine, a lot of features and tools are offered to support business processes throughout their entire life cycle:

    %ul
      %li Eclipse-based and web-based editor to support the graphical creation of your business processes and case definitions (drag & drop).
      %li Pluggable persistence and transactions based on JPA / JTA.
      %li Pluggable human task service based on WS-HumanTask for including tasks that need to be performed by human actors.
      %li Management console supporting process instance management, task lists and task form management, and reporting.
      %li Optional process repository to deploy your process (and other related knowledge).
      %li History logging (for querying / monitoring / analysis).
      %li Integration with various frameworks such as CDI/EJB, Spring(Boot), OSGi, etc.

    %p BPM makes the bridge between business analysts, developers and end users, by offering process management features and tools in a way that both business users and developers like it. Domain-specific nodes can be plugged into the palette, making the processes more easily understood by business users.

    %p jBPM supports adaptive and dynamic processes that require flexibility to model complex, real-life situations that cannot easily be described using a rigid process. We bring control back to the end users by allowing them to control which parts of the process should be executed, to dynamically deviate from the process, etc.

    %p jBPM is also not just an isolated process engine. Complex business logic can be modeled as a combination of business processes with business rules and complex event processing. jBPM can be combined with the Drools project to support one unified environment that integrates these paradigms where you model your business logic as a combination of processes, rules and events.

.row
  .col-md-4
    %div
      = partial('importantNews.html.haml', :outputPage => page)
  .col-md-4
    %div
      = partial('latestTweets.html.haml', :outputPage => page)
  .col-md-4
    %div
      = partial('referencesBooks.html.haml', :outputPage => page)

-#= partial('events.html.haml', :outputPage => page)
-#= partial('latestBlogPosts.html.haml', :outputPage => page)
