.card.p-3
  .card-body
  .card-title
    %h3 Upcoming events
  .card-text
    %ul.list-unstyled
      - for event in site.events
        - if event.date >= Date.today
          %li.mb-3
            .title
              %a{:href => event.url}
                - if !event.title.empty?
                  #{event.eventOrganization}: #{event.title}
                - else
                  #{event.eventOrganization}
            %div
              #{event.location} - #{event.date.strftime('%a %-d %B %Y')}
            - if !event.presenters.empty?
              .small
                by #{event.presenters}
    .small.float-end
      %a{:href => "https://github.com/kiegroup/jbpm-website/blob/master/_config/events.yml"}
        Add event
      #{'/'}
      %a{:href => relative("/community/eventsArchive.html", page.outputPage)}
        Archive
